header{
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-left: 25rem;
}

h1{
  display: inline;
  color: black;
  padding-right: 16rem;
}

nav{
  display: inline;
  position: relative;
  font-size: 24px;
  font-weight: bold;
}

nav a{
  text-decoration: none;
  color: black;
  padding: 10px;
}

nav a:hover{
  text-decoration: none;
  color: rgb(103, 121, 134);
}