.column {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.5fr 1.5fr; 
  gap: 5px 10px; 
  grid-template-areas: 
    "Dropbox Slider Slider"
    "data data data"; 
}
.data { grid-area: data; }
.Slider { grid-area: Slider; }
.Dropbox { grid-area: Dropbox; }


.unitsContent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container{
  display: flex;
  margin: auto;
  height: 31.25rem;
  width: 600px;
  margin-top: 50px;
}

.link{
  text-decoration: none;
  text-align: center;
}

.tableRowMaterial{
  text-decoration: none;
}

.tableRowMaterial:hover{
  background-color: rgb(217, 234, 250);
}

.filters{
  padding: 20px;
}

.Sliders{
  width: 100%;
}

.sliderBox{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
}