.unitsContent{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100vw;
}

h3,h4,h6,h6{
  margin: 5px;
}

.container{
  display: flex;
  margin: auto;
  height: 400px;
  width: 750px;
  margin-top: 20px;
}

.link{
  text-decoration: none;
  text-align: center;
}

.tableRowMaterial{
  text-decoration: none;
}

.tableRowMaterial:hover{
  background-color: rgb(217, 234, 250);
}

.filters{
  display: flex;
  padding: 20px;
  width: 80vw;
  text-align: center;
}

.Sliders{
  flex: 0 0 75%;
}

.sliderContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.sliderBox{
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  margin-bottom: 20px;
  margin-top: 20px;
}

.dropboxContent{
  flex: 0 0 25%;
}